<footer class="bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>StyleShop</h5>
          <p>
            Votre destination mode préférée pour des vêtements de qualité à
            prix abordables.
          </p>
        </div>
        <div class="col-md-4">
          <h5>Liens Utiles</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">À propos de nous</a></li>
            <li><a href="#" class="text-white">Conditions générales</a></li>
            <li>
              <a href="#" class="text-white">Politique de confidentialité</a>
            </li>
            <li><a href="#" class="text-white">FAQ</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contact</h5>
          <address>
            <p>123 Rue de la Mode<br />75000 Paris, France</p>
            <p>Email: contact@styleshop.fr<br />Tél: +33 1 23 45 67 89</p>
          </address>
        </div>
      </div>
      <hr />
      <div class="text-center">
        <p>&copy; 2025 StyleShop. Tous droits réservés.</p>
      </div>
    </div>
  </footer>